.game-box{
    width: inherit;
    width: 30em;
    text-align: center;
    display: flex;
}

.start-btn, .reset-btn {
    margin: 1em auto;
    text-decoration: none;
    cursor: pointer;
    text-align: center;
    transition: all 0.2s ease-in-out;
    -webkit-appearance: none;
    -moz-appearance: none;
    text-transform: uppercase;
    font-weight: bold;
    color: white;
    font-size: xx-large;
    padding: 0.4rem;
    border-radius: 3rem;
    box-shadow: 0px 0px 47px -20px rgba(0,0,0,0.75);
    background: linear-gradient(#FFC72C, #FF992C);
}

.reset-btn {
    background: linear-gradient(#FF843B,#FF6A13);
}

.start-btn:hover {
    background: linear-gradient(#FFC72C,#FFC72C);
}
.reset-btn:hover {
    background: linear-gradient(#FF843B,#FF843B);
}

@media (max-width: 576px) {
    .start-btn, .reset-btn {
      font-size: x-large;
    }
  }
  