*, ::after, ::before {
  box-sizing: border-box;
}
body {
  overflow-x: hidden;
  position: relative;
  height: 100vh;
  width: 100%;
  margin: 0;
  color: white;
  background: rgb(69,19,17);
  background: linear-gradient(321deg, rgba(69,19,17,1) 0%, rgba(186,12,47,1) 100%);
  scroll-behavior: smooth;
  -webkit-font-smoothing: antialiased;
  font-family: 'Lato', sans-serif;
}

body::before {
  content: '';
  background-image: url(./images/pattern.png);
  animation: moveIt 10s linear infinite;
  mix-blend-mode: multiply;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0.05;
  background-repeat: repeat;
  z-index: 9;
}
a {
  text-decoration: none;
  color: white;
}

.box {
  margin-right: auto;
}
.full-box {
  margin: auto 0;
  width: 100%;
}
/* Menu  */
.body {
  top: 0;
  left: 0;
  position: fixed;
  width: 100%;
  height: 100%;
  padding: 2rem;
  z-index: 99;
}
.body .menu {
  position: absolute;
  left: 0;
  top: 0;
  background: #FF6A13;
  width: 100%;
  height: 100%;
  text-align: left;
  -webkit-transition: .3s ease-in;
  transition: .3s ease-in;
  -webkit-transform: translateX(-100%);
  transform: translateX(-100%);
  z-index: 500;
}
.body .header h1 {
  margin: 0;
  font-size: 2em;
  font-weight: 900;
}
.body .header h1 span {
  color: #FF6A13;
}
.body .header h2 {
  width: 100%;
  font-size: 1.5em;
  text-align: center;
}
.body .header h2 span:first-child {
  color: #FFC72C;
}
.body .header h2 span:last-child {
  color: #FF6A13;
}
.body .menu .nav {
  padding: 0;
  margin: 0;
  list-style: none;
}
.body .menu .nav li {
  cursor: pointer;
  -webkit-transition: .3s;
  transition: .3s;
}
.body .menu .nav li:first-child, .body .menu .nav li:last-child {
  margin-top: auto;
}
.body .menu .nav li:hover {
  background: #eee;
}
.body .menu .nav li a {
  padding: 2rem;
  font-size: 2rem;
  color: white;
  font-weight: bold;
  text-decoration: none;
  color: inherit;
  display: block;
}
.body .menu .nav li a:hover {
  color: rgb(255, 255, 255, 0.5);
}
.body .menu .close {
  position: absolute;
  left: 1rem;
  top: 1rem;
  display: inline-block;
  height: 2rem;
  width: 2rem;
  margin: 1rem;
  text-align: center;
  cursor: pointer;
  -webkit-transition: .3s;
  transition: .3s;
}
.body .menu .close:hover {
  opacity: .8;
}
.roullete-container {
  width: 100%;
  height: 100%;
  padding: 0;
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
}
.roullete-container  img {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
  border-style: none;
}
.body .header {
  height: 4rem;
  display: flex;
  grid-area: header;
  flex-flow: row wrap;
  justify-content: center;
}
.body .container {
  height: 100%;
  width: 100%;
  z-index: 400;
  margin-right: auto;
  margin-left: auto;
  position: relative;
  background: none;
}
.body .toggle {
  cursor: pointer;
}
.body .toggle img {
  height: 2rem;
  width: 2rem;
}
.body.open .menu {
  -webkit-transform: translateX(0);
  transform: translateX(0);
}
.sidemenu .header {
  background: none;
}
.sidemenu .menu {
  width: 100%;
  text-align: center;
  background: rgba(69,19,17,0.8);
  -webkit-transform: translateX(0);
  transform: translateX(0);
  visibility: hidden;
  opacity: 0;
  color: #fff;
}
.sidemenu .menu .menu-content {
  height: 100%;
}
.sidemenu .menu .close img {
  width: 2rem;
  height: 2rem;
}
.sidemenu .menu .close:hover {
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
}
.sidemenu .menu .nav {
  height: 100%;
  display: flex;
  flex-flow: column;
}
.sidemenu .menu .nav li:hover {
  background: none;
  font-size: 26px;
}
.sidemenu .menu .nav li img {
  width: 100%;
  height: 2rem;
}
.sidemenu.open .menu {
  visibility: visible;
  opacity: 1;
}

.btn {
  display: inline-block;
  border: none;
  margin: 0;
  text-decoration: none;
  background: #0069ed;
  cursor: pointer;
  text-align: center;
  transition: all 0.2s ease-in-out;
  -webkit-appearance: none;
  -moz-appearance: none;
  text-transform: uppercase;
  font-weight: bold;
  color: white;
  font-size: xx-large;
  padding: 0.4rem;
  align-self: center;
  border-radius: 3rem;
  -webkit-box-shadow: 0px 0px 47px -20px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 0px 47px -20px rgba(0,0,0,0.75);
  box-shadow: 0px 0px 47px -20px rgba(0,0,0,0.75);
}
.btn:hover {
  opacity: 0.9;
}
.btn-challenge {
  background: #FFC72C;
  background: linear-gradient(#FFC72C, #FF992C);
}

.btn-question {
  background: #FF843B;
  background: linear-gradient(#FF843B,#FF6A13);
}

@media (max-width: 576px) {
  .body {
    padding: 1rem;
  }
  h1 {
    font-size: 1.5em;
  }
  h2 {
    font-size: 1em;
  }

  .start-btn, .reset-btn {
    font-size: x-large;
  }
}

/* SOBRESCREVE A ROLETA */
.Roulette-board-o {
  z-index: 9!important;
}
.Roulette-board-u {
  z-index: 99!important;
}
.highlight-area {
  z-index: 999!important;
}
.pointer {
  z-index: 9999!important;
}